<div class="container">
  <br> 
  <h3>Adicionar imagem no blog</h3> 
<form action="/contato/edit-contato-img" method="POST" enctype="multipart/form-data">

    
    <div class="form-group col-md-8">
        <input type="file" class="form-control" placeholder="Curso" name="img"  required>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Editar" class="btn btn-primary py-3 px-5">
    </div>
</form>
</div>