<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/dashboard/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      
       
        
        <li><a href="/"> Finaceiro</a></li>
        <li><a href="/"> Informações</a></li>
        <li><a href="/"> Calendário</a></li>
        <li><a href="/biblioteca"> Biblioteca</a></li>
        
        

        <li><a href="/usuario/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</nav>