<div class="container">
<form action="criar-docente" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome" name="nome" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Aula ou disciplina" name="aula" required>
    </div>
    
     <div class="form-group">
        <input type="file" class="form-control" placeholder="Imagem" name="imagem" required>
    </div>   
    <div class="form-group">
        <textarea id="" cols="30" rows="7" class="form-control" placeholder="descrição"
            name="descricao" required></textarea>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Link do perfil Facebook" name="facebook" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Link do perfil Instagran" name="instagram">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Link do perfil Tweeter" name="tweeter" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Link do perfil G+" name="google" >
    </div>
   
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary py-3 px-5">
    </div>
</form>
</div>