<div class="container">
    <h2>{{aluno.nome}}</h2>
    <h4>R.A. {{aluno.ra}}</h4>
<ul class="list-group">
  <a href="/para_responsaveis/boletim/{{aluno._id}}"><li class="list-group-item">Boletim</li></a>
  <a href=""><li class="list-group-item">Informações</li></a>
  <a href="/video/video-aluno/{{aluno.serie}}"><li class="list-group-item">Aulas</li></a>
  <a href=""><li class="list-group-item">Frequencia</li></a>
</ul>

</div>

