<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">{{usuario.nome}}</h2>
            </div>
        </div>
        <div class="row mb-3">
            {{#each aluno}}
            <div class="col-lg-3 col-sm-6">
                <a href="/para_responsaveis/aluno-info/{{_id}}">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <i class="fas fa-users fa-3x"></i>
                            <h6 class="card-title">{{nome}}</h6>
                            <h2 class="lead">{{ra}}</h2>

                        </div>
                    </div>
                </a>

            </div>
            {{/each}}
          

        </div>
    </div>
</div>
</div>