<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Seja Bem Vindo Administrador</h2>
            </div>

            <div class="p-2">
                <span class="d-none d-md-block">
                    
                   <!-- <a href="/cursos/add-curso" class="btn btn-outline-primary btn-sm">Adicionar curso</a>
                    <a href="/cursos/edit-cursos-img" class="btn btn-outline-warning btn-sm">Editar Imagem</a>-->
                    
                </span>
                
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        
                        <!--<a class="dropdown-item" href="/edit-curso-img">Editar Img 1</a>-->
                    </div>

                </div>
            </div>
        </div>
        
        <hr>
        <h4>Aqui é a área do administrador, por aqui você podera alterar todo conteudo do site, mas se atente as dicas que seguem, para que não haja quebra de layout ou qualquer outro contratempo!</h4>
        <dl class="row">
            
            <dt class="col-sm-3">Dica 1</dt>
            <dd class="col-sm-9">Para alterar qualquer conteúdo, prefira utilizar um Descktop ou Notebook, Abra o navegador, e em uma aba abra seu painel administrativo, e em outra aba, abra o site e ao fazer qualquer alteração certifique-se de ter plena certeza do que se está alterando, localize no site e no seu painel o que será alterado.</dd>
             <hr>
            <dt class="col-sm-3">Dica 2 </dt>
            <dd class="col-sm-9">Tudo que for editado será alterado no site em tempo real e diretamente no banco de dados, então suas credenciais de acesso devem ser mantidas em sigilo e somente em que estiver credenciado deve acessar. </dd>
             <hr>
            <dt class="col-sm-3">Dica 3</dt>
            <dd class="col-sm-9">Ao fazer qualquer alteração onde tenha danificado o sistema ou quebrado layout e você não consiga corrigir pare e contate o desenvolvedor, isso serve também para alterar algo que você possa ter uma duvida ou que não tem a opção para tal. </dd>
             <hr>
            <dt class="col-sm-3">Dica 4</dt>
            <dd class="col-sm-9">Há algumas coisas que não podem ser alteradas através do painel administrativo, o que não pode ser alterado por aqui poderá ser editado no código do site para isso contate o desenvolvedor.</dd>
             <hr>
            
          

           
        </dl>
        <a href="/" class="btn btn-primary">Voltar para o site</a>
        
        
       <hr>
        
    </div>
</div>